@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

*{
    margin:0;
    cursor: url(/imagenes/cursor.cur),auto;
    font-family: 'Open Sans', sans-serif;

}
body{
    background-image: url("/imagenes/fondo.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;

}

.pestaña{
    width: 200px;
    height: 200px;
}

nav{
    background-color: #06536F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

audio{
    margin-top: 50px;
    height: 20px;
    width: 250px;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav img{
    width:20%;
    height:10%;
}

li{
    list-style: none;
    font-size: 30px;
    padding-top: 40px;

}
a{
    text-decoration: none;
    color: #fff;
    padding: 30px;   
}
a:hover{
    
    color: rgb(121, 147, 170);
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 40px;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}
#allFirst{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-bottom: 20px;
    
}

.orderPoster{
    padding: 20px;
    border-radius: 30px;
    transition: 2s; 
    width:240px;
    height: 323px;
    filter: drop-shadow(8px 8px 8px black)
}
.orderPoster:hover{
    transform: scale(1.2);
    
}
footer{
    background-color: #06536F;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100px;
}

footer p{
    font-size: 15px;
    padding-right: 30px;
    padding-top: 15px;
}

.redesSociales{
    display: flex;
    flex-direction: row-reverse;

}
footer img{
    width:50px ;
    height:50px ;
    padding: 10px;
}
.imgCopy{
    width: 30px;
    height: 30px;
    
}


.right{
display: flex;
flex-direction: row;
height: 30px;

}
.copy{
display: flex;
flex-direction: row;

}